<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}
.about-section {
  padding: 255px;
  text-align: center;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/722/662/336/samsung-galaxy-polyart-pastel-wallpaper-thumb.jpg");
  color: white;
  background-repeat:no-repeat;
  background-size: cover;
}

.title {
  color: grey;
}


</style>
</head>
<body>

<div class="about-section">
  <h1>CONTACT US</h1>
  <p><h3>Ask any query to us, our team is wearing the thinking caps. Feel free to pen down your thoughts to the below given mail.</h3></p>
  <p><h2>ibmnt@gmail.com</h2></p>
</div>



</body>
</html>